/dist
/test/translation/transformation
/test/cli/errors
/test/cli/watch
/test/transpile/directories
/test/transpile/module-resolution/**/node_modules
/test/transpile/module-resolution/**/dist
/test/transpile/outFile
