node_modules
/dist
/coverage
/test/transpile/module-resolution/**/dist
/test/transpile/module-resolution/**/tsconfig.tsbuildinfo

yarn.lock
.vscode
.idea
.DS_Store

benchmark/data/*
benchmark/dist/*

# v8 cpu profiles
*-.log
*.cpuprofile
